.flex-container{
    border: 2px solid blue;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
   /* flex-wrap: wrap; */
    align-content: flex-start;
}
.flex-box{
    height: 100px;
    width: 80px;
}
#flex1{
    background-color: pink;
    order: 0;
    flex-basis: 80px; /*width of particular flex*/
    flex-grow: 0; /*speed of growing*/
    flex-shrink: 0; /*speed of shrinking*/
    align-self: flex-start;
}
#flex2{
    background-color:lightskyblue;
}
#flex3{
    background-color: lightgreen;
}
#flex4{
    background-color: rebeccapurple;
}