.container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(90px,auto);
    grid-auto-columns: minmax(120px,auto);
    row-gap: 50px;
}
.items{
    background-color: lightpink;
    border: 3px solid blueviolet;
    border-radius: 3px;
}
#item-2{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
#item-1{
  grid-row-start: 1;
  grid-row-end: 2;
}
.item-container{
    display: grid;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
}
.nested-div{
    border: 2px solid greenyellow;
    background-color: antiquewhite;
}