body{
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: larger;
    text-align: center;
   
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}
.item1{
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: lightgreen;
    height: 9vh;
}
.item2{
    background-color: lightslategray;
    height: 80vh;
}
.item3{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: lightcoral;
}
.item4{
    background-color: lightseagreen;
}
.item5{
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: yellowgreen;
    height: 9vh;
}