nav{
    background-color: black;
    padding: 10px;
    overflow: hidden;
}
nav a{
    color:white;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    float: right;
}
nav a:hover{
  color: red;
  text-decoration: underline;
}
/*
nav a:visited{
    color: seagreen;
}*/
